# ===== BLOCK /public/index.php directly =====
<Files "index.php">
    <If "%{REQUEST_URI} =~ m#^/public/index\.php$#">
        Require all denied
    </If>
</Files>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirect /public exactly to root
    RewriteCond %{REQUEST_URI} ^/public/?$
    RewriteRule ^public/?$ / [R=301,L]

    # Redirect any other /public/* URL to root
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule ^public/(.*)$ /$1 [R=301,L]

   
</IfModule>

# ===== SECURITY BLOCKS =====
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

RedirectMatch 403 ^/(vendor|storage|bootstrap|config|database|resources|routes|tests)(.*)$
